'context-menu':
  'atom-workspace': [{label: 'Translate', command: 'translator:translate'}]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Translator'
      'submenu': [
        { 'label': 'Translate', 'command': 'translator:translate' }
      ]
    ]
  }
]
