@import "ui-variables";

.translator {
  overflow: auto;
  margin: 0px;
  padding: 5px;

  .resizer {
    height: 5px;
    cursor: ns-resize;
  }

  .close {
    color: @text-color;
  }

  .language-selector {
    @langItemWidth: 90px;

    .btn-default {
      width: @langItemWidth;
    }

    .dropdown-menu {
      width : 452px;
      background-color: @base-background-color;

      li {
        width : @langItemWidth;
        display: inline-block;

        a {
          color: @text-color;
        }
      }
    }
  }

  button[role=show-settings] {
    float: right;
    margin-right: 10px;
  }

  .translator-settings-view {
    display: none;
  }
}

.translator.translator-settings-view {

  form {
    padding-top: 5px;
  }

  .translator-content-view {
    display: none;
  }
  .translator-settings-view {
    display: inherit;
  }
}
