@import "ui-variables";

.translator {

  margin: 0px;
  padding: 5px;

  .panel-body {
    height: 100%;

    textarea {
      margin: 0px;
      width: 100%;
      height: 100%;
      color: #aaaaaa;
      background-color: rgba(0,0,0,0);
      border: none;
      overflow: auto;
    }
  }

  .resizer {
    height: 5px;
    cursor: ns-resize;
  }

  .close {
    color: @text-color;
  }

  .language-selector {
    @langItemWidth: 90px;

    .btn-default {
      width: @langItemWidth;
    }

    .dropdown-menu {
      width : 452px;
      background-color: @base-background-color;

      li {
        width : @langItemWidth;
        display: inline-block;

        a {
          color: @text-color;
        }
      }
    }
  }
}
